<div class="card" style="width: 18rem">
  <img src=<%- blog.coverImageUrl %> class="card-img-top"/>
  <div class="card-body">
    <h5 class="card-title"><%= blog.title %></h5>
    
    
    <a href="/blog/<%= blog._id %>" class="btn btn-primary">Go to blog</a>
  </div>
</div>
